body {
	background-color: black;
}

fieldset {
	background-color: white;
	padding: 30px;
	align-self: center;
	margin-top: 20%;
	margin-bottom: 10%;
	margin-left: 15%;
	margin-right: 15%;
}

label {
	font-size: 20px;
	font-family: "Courier New";
}

form {
	text-align: center;
}

legend {
	color: green;
	font-size: 50px;
	font-family: "Courier New";
	font-weight: bold;
}

input {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}