.loginform {
	display: block;
	position: relative;
	width: 70%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(184, 191, 204, .5);
	box-shadow: 5px 5px 6px grey;
	text-align: center;
}

h1 {
	text-align: center;
	font-family: times;
	font-size: 60px;
	text-decoration: underline;
	padding: 10px;
}

input {
	position: relative;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
	margin-top: 5px;
}